{% set events = __SELF__.events %}

{% if events is empty %}
    <div class="my-5 text-center empty w-100">{{ no_events_text }}</div>
{% endif %}


<div id="events" class="events">

{% partial __SELF__ ~ '::items'  events = events%}

</div>

{% if paginate == 1%}
  {% if events.lastPage > 1 %}
  <nav class="pagination-wrapper" aria-label="Navigazione della pagina">
      <ul class="pagination">

          {% if events.currentPage > 1 %}
          <li class="page-item first">
              <a class="page-link"
                  href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): (events.currentPage-1) }) }}">
                  <i class="icon-left"></i>
              </a>
          </li>
          {% endif %}

          {% for page in 1..events.lastPage %}
          <li class="page-item {{ events.currentPage == page ? 'active' : null }}">
              <a class="page-link" href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): page }) }}">{{ page }}</a>
          </li>
          {% endfor %}

          {% if events.lastPage > events.currentPage %}
          <li class="page-item last">
              <a class="page-link"
                  href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): (events.currentPage+1) }) }}">
                  <i class="icon-right"></i>
              </a>
          </li>

          {% endif %}

      </ul>
  </nav>
  {% endif %}
{% endif %}

{% if paginate == 2%}
<div id="loadmore" class="flex justify-center">
{% partial __SELF__ ~ '::loadmore' pageNumber = pageNumber%}
</div>
{% endif%}
