<article class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-6xl mb-4">
    <div class="md:flex">

        <div class="md:flex-shrink-0">
            {% if event.images.first %}
            <a href="{{event.url}}"><img class="h-64 w-full object-cover md:h-full md:w-64" src="{{event.images.first.path|resize(768)}}" alt="{{event.images.first.title}}" /></a>
            {% else %}
                <img class="w-full hover:animate-bounce rounded-lg" src="https://via.placeholder.com/768x1024.jpg" alt="" />
            {% endif %}
        </div>

        <div class="w-full flex flex-col p-2 md:p-4">
            <div class="text-sm mt-2 text-gray-800">
                <span class="data"><i class="icon-calendar-light"></i> {{ event.date_from|date('l j F') }} <i class="icon-clock-1"></i> {{ event.date_from|date('G:i') }}</span>
            </div>
        
            <h2 class="font-bold text-black my-2"><a href="{{ event.url }}">{{ event.name }}</a></h2>
            <div class="flex-grow prose mb-2 text-gray-800">
                {{ event.excerpt|raw }}
            </div>
            <div class="flex-grow-0">
            <p class="mb-2 text-gray-800"><i class="icon-location-1"></i> {{ event.venue.name}}</p>
                <div class="flex space-x-2">
                {% for tag in event.tags %}
                <span class="bg-yellow-500 text-xs text-white font-bold rounded px-2 py-1">
                    {{tag.name}}
                </span>
                {% endfor %}
                </div>    
            </div>
            <div class="flex-grow-0 flex justify-end">
            <a href="{{event.url}}" class="px-4 py-2 bg-blu hover:bg-azzurro hover:shadow text-white font-bold text-sm uppercase rounded transition duration-300 ease-in-out">
                + informazioni
            </a>
            </div>
        </div>
    </div>
</article>
